body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #ffffff, #e0e0e4, #c2c3c9, #a4a6af, #868a96);
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
}

#root {
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.create_input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #F2F3F7;
    outline: none;
}

.add_button {
    padding: 10px;
    background-color: #00c9b7;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    height: 35px;
    font-weight: bold;
    padding: 2px 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.task p {
    margin: 0;
    flex-grow: 1;
}

.checkbox {
    display: flex;
    align-items: center;
}

.line_through {
    text-decoration: line-through;
}

.checkbox .icon {
    margin-right: 5px;
    font-size: 15px;
}

.task .actions {
    display: flex;
    align-items: center;
}

.task .actions .icon {
    cursor: pointer;
    margin-left: 10px;
}

.high-priority {
    background-color: #ff5733; /* Red or another color for high priority */
}

.low-priority {
    background-color: #00c9b7; /* Green or another color for low priority */
}

.priority-toggle {
    cursor: pointer;
    margin-left: 10px;
}

.error_message {
    color: red;
}
